<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Hopjob {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />       

        {% block stylesheet %}   
                <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/css/bootstrap.css') }}" type="text/css" media="screen" />  
                <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" media="screen" />  
                <link rel="stylesheet" href="{{ asset('bundles/app/bxslider/jquery.bxslider.css') }}" type="text/css" media="screen" />  
                <link rel="stylesheet" href="{{ asset('bundles/app/fancyBox/jquery.fancybox.css') }}" type="text/css" media="screen" />  
                <link rel="stylesheet" href="{{ asset('bundles/app/font-awesome/css/font-awesome.css') }}" type="text/css" media="screen" />  
                <link rel="stylesheet" href="{{ asset('bundles/app/css/global.css') }}" type="text/css" media="screen" />  
        {% endblock %}        

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/bxslider/jquery.bxslider.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/fancyBox/jquery.fancybox.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/global.js') }}"></script>
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>

        {% block body %}{% endblock %}

    </body>
</html>
