{% extends 'layout.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="header">
            <a href="#"><img src="{{ asset("img/logo.png") }}" alt="hopjob" id="logo"></a>
            <div id="authentication-container">
                <a id="sign-in" class="link" href="#">Connexion</a>
                <span>•</span>
                <a id="sign-up" class="link" href="#">Inscription</a><br>
                <a id="service-btn" href="#">Proposer mes services</a>
            </div>
            <div id="nav-bar" class="col-xs-12">
                <h3 id="title">Je cherche</h3>
                <div class="col-sm-6 col-sm-offset-3">
                  <form class="navbar-form" role="search">
                    <div class="input-group add-on" style="width:100%">
                      <input class="form-control" placeholder="Search" style="height:35px" name="srch-term" id="srch-term" type="text">
                      <div class="input-group-btn"  style="width:40px">
                        <button class="btn btn-default" type="submit" style="height:35px"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div id="services">
            <h1 class="title-heading">• nos services •</h1>
            <ul class="bxslider">
                <li>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                </li>
                <li>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                    <div class="col-sm-15"><a href="#"><img src="{{ asset('img/homepage/metier1.jpg') }}"/></a></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right" id="text-ccm-l" style="background-image:url({{ asset('img/homepage/ccm-1.png') }});background-repeat: no-repeat;background-position: left 40px bottom 40px;height: 550px;background-size:130px">
            <h2>Comment ça marche ?</h2>
            <p>- Déposer une <strong>annonce</strong><br>
            - Recevez des <strong>candidatures</strong><br>
            - <strong>Choisissez</strong></p>
        </div>
        <div class="col-sm-6 text-left" id="text-ccm-r" style="background-image:url({{ asset('img/homepage/ccm-2.png') }});background-repeat: no-repeat;background-position: right 40px bottom 40px;height: 550px;background-size:130px">
            <h2>On s'occupe de tout !</h2>
            <p>- Paiement <strong>sécurisé</strong><br>
            - Recevez des <strong>candidatures</strong><br>
            - Avantage <strong>fiscal</strong></p>
        </div>
        
    </div>
{% endblock %}
