{% extends "layout.html.twig" %}

{% block body %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/front/assets/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/front/assets/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/front/assets/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/front/assets/css/form-elements.css') }}">
<!-- Top content -->
<div class="top-content">
	
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                	<div class="form-top row">
                		<h3 class="omb_authTitle text-center">Se connecter ou <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></h3>
			        </div>
			        
			        	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
			        		<div class="form-bottom row">
			    	        	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
								<div class="input-group">
									<span class="input-group-addon" style="border:none"><i class="fa fa-user"></i></span>
									<input type="text" id="username" class="form-control" name="_username" placeholder="email address" value="" required="required">
								</div>
								<span class="help-block"></span>
												
								<div class="input-group">
									<span class="input-group-addon" style="border:none"><i class="fa fa-lock"></i></span>
						            <input type="password" class="form-control" id="password" name="_password" required="required" />
								</div>
								<br>

								{% if error %}
							       <span class="help-block">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
							    {% endif %}
								
								<div class="col-xs-6">
									<label class="checkbox">
										<input type="checkbox" id="remember_me" name="_remember_me" value="on" />Se souvenir de moi
									</label>	
								</div>
								<div class="col-xs-6 text-right">
										<a style="margin-top:10px;display:block" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
								</div>	
															    <div class="col-xs-12" style="margin-top:20px"></div>
				
								<div class="col-xs-12 text-center">
							    	<button type="submit" class="btn" style="width:300px">Connexion</button>	
							    </div>
							</div>
						</form>		

				</div>
			</div>
		</div>	
	</div>
</div>

{% endblock %}

