{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ asset('bundles/front/assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/assets/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/front/assets/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/front/assets/css/style.css') }}">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/front/assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/front/assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/front/assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/front/assets/ico/apple-touch-icon-57-precomposed.png') }}">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                        	
                        	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register registration-form'}}) }}

                        		<fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Étape 1 / 3</h3>
		                            		<p>Vos identifiants</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa fa-user"></i>
		                        		</div>

		                        		{% if form.vars.valid == false %}
			                        		<div class="alert alert-danger col-xs-12 errors">
			                        			<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
												 {{ form_errors(form.email) }}
												 {{ form_errors(form.plainPassword.first) }}
												 {{ form_errors(form.plainPassword.second) }}
												 {{ form_errors(form.civilite) }}
												 {{ form_errors(form.prenom) }}
												 {{ form_errors(form.nom) }}
												 {{ form_errors(form.dateNaissance) }}
												 {{ form_errors(form.description) }}
												 {{ form_errors(form.adresse.adresse1) }}
												 {{ form_errors(form.adresse.adresse2) }}
												 {{ form_errors(form.adresse.codePostal) }}
												 {{ form_errors(form.adresse.ville) }}
											</div>
		                        		{% endif %}
		                            </div>
		                            <div class="form-bottom">
				                    	<div class="form-group">
				                        	{{ form_widget(form.email, {'attr': {'class' : 'form-first-name form-control', 'placeholder' : 'Email', 'id': "form-email"}}) }}
				                        </div>
				                    	<div class="form-group">
				                        	{{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control', 'placeholder' : 'Mot de passe', 'required' : true}}) }}
				                        </div>
				                    	<div class="form-group">
				                        	{{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control', 'placeholder' : 'Confirmation du mot de passe', 'required' : true}}) }}
				                        </div>
				                        <button type="button" class="btn btn-next">Suivant</button>
				                    </div>
			                    </fieldset>
			                    
			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Étape 2 / 3</h3>
		                            		<p>Qui êtes-vous ?</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa fa-key"></i>
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-civilite">Civilité</label>
				                        	{{ form_widget(form.civilite, {'attr': {'class' : 'form-last-name form-control'}}) }}
				                        </div>
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">Prénom</label>
				                        	{{ form_widget(form.prenom, {'attr': {'class' : 'form-first-name form-control', 'placeholder' : 'Prénom', 'id': "form-first-name"}}) }}
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Nom</label>
				                        	{{ form_widget(form.nom, {'attr': {'class' : 'form-last-name form-control', 'placeholder' : 'Nom', 'id': "form-last-name"}}) }}
				                        </div>
				                        <div class="form-group">
				                    		<label class="sr-only" for="form-date-naissance">Date de naissance</label>
				                        	{{ form_widget(form.dateNaissance, {'attr': {'class' : 'form-control'}}) }}
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-about-yourself">À propos de vous</label>
				                        	{{ form_widget(form.description, {'attr': {'class' : 'form-control form-about-yourself', 'placeholder' : 'Parlez nous de vous...', 'id': "form-about-yourself"}}) }}
				                        	
				                        </div>

				                        <button type="button" class="btn btn-previous">Précédent</button>
				                        <button type="button" class="btn btn-next">Suivant</button>
				                    </div>
			                    </fieldset>
			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Étape 3 / 3</h3>
		                            		<p>Votre adresse</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa fa-key"></i>
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                        <div class="form-group">
				                        	{{ form_widget(form.adresse.adresse1, {'attr': {'class' : 'form-control', 'placeholder' : 'Votre adresse'}}) }}
				                        </div>
				                        <div class="form-group">
				                        	{{ form_widget(form.adresse.adresse2, {'attr': {'class' : 'form-control', 'placeholder' : 'Informations complémentaires'}}) }}
				                        </div>
				                        <div class="form-group">
				                        	{{ form_widget(form.adresse.codePostal, {'attr': {'class' : 'form-control', 'placeholder' : 'Votre code postal'}}) }}
				                        </div>
				                        <div class="form-group">
				                        	{{ form_widget(form.adresse.ville, {'attr': {'class' : 'form-last-name form-control'}}) }}
				                        </div>

				                        <button type="button" class="btn btn-previous">Précédent</button>
				                        <button type="submit" class="btn">Valider</button>
				                    </div>
			                    </fieldset>
		                    
		                    {{ form_end(form)}}
		                    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="{{ asset('bundles/front/assets/js/jquery.backstretch.min.js') }}"></script>
        <script src="{{ asset('bundles/front/assets/js/retina-1.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/front/assets/js/scripts.js') }}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->


{% endblock %}

