{% extends "layout.html.twig" %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="omb_login">
    	<h3 class="omb_authTitle">S'inscrire</h3>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
				{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
				    
		    		<div class="input_form_register form-group col-sm-6">
						<label for="prenom">{{ form_label(form.prenom) }}</label>
						{{ form_widget(form.prenom, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.prenom) }}
					</div>

		    		<div class="input_form_register form-group col-sm-6">
						<label for="nom">{{ form_label(form.nom) }}</label>
						{{ form_widget(form.nom, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.nom) }}
					</div>

		    		<div class="input_form_register form-group col-sm-6">
						<label for="dateNaissance">{{ form_label(form.dateNaissance) }}</label>
						{{ form_widget(form.dateNaissance, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.dateNaissance) }}
					</div>
					
		    		<div class="input_form_register form-group col-sm-6">
						<label for="adresse">{{ form_label(form.adresse) }}</label>
						{{ form_widget(form.adresse, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.adresse) }}
					</div>

		    		<div class="input_form_register form-group col-sm-12">
						<label for="description">{{ form_label(form.description) }}</label>
						{{ form_widget(form.description, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.description) }}
					</div>

		    		<div class="input_form_register form-group col-sm-6">
						<label for="typeUtilisateur">{{ form_label(form.typeUtilisateur) }}</label>
						{{ form_widget(form.typeUtilisateur, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.typeUtilisateur) }}
					</div>

		    		<div class="input_form_register form-group col-sm-6">
						<label for="domaines">{{ form_label(form.domaines) }}</label>
						{{ form_widget(form.domaines, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.domaines) }}
					</div>

		    		<div class="input_form_register form-group col-sm-6">
						<label for="metier">{{ form_label(form.metier) }}</label>
						{{ form_widget(form.metier, {'attr': {'class' : 'form-control'}}) }}
						{{ form_errors(form.metier) }}
					</div>


				    <div>
				        <input type="submit" class="login login-submit btn btn-lg btn-primary btn-block" value="Valider" />
				    </div>
				{{ form_end(form)}}
			</div>
    	</div>
	</div>
</div>

{% endblock %}

