<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}HopJob974{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/admin/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('bundles/admin/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{ asset('bundles/admin/css/custom.min.css') }}" rel="stylesheet">
</head>
<body class="nav-md">
{% block body %}
    {% for utilisateur in utilisateurs %}

        <div class="container body">
        <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('admin') }}" class="site_title"><i class="fa fa-home"></i> <span><img height="55px" src="{{ asset('bundles/admin/img/logo.png') }}"></span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Bienvenue,</span>
                        <h2>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h2>
                    </div>
                </div>
                <br>
                <!-- /menu profile quick info -->
                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    <h3>General</h3>
                                    <ul class="nav side-menu">
                                        <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i> Tableau de bord <span class="fa fa-chevron-down"></span></a>
                                        </li>
                                        <li><a href="{{ path('messagerie') }}"><i class="fa fa-envelope-o"></i> Messagerie <span class="fa fa-chevron-down"></span></a>
                                        </li>
                                        <li class="active"><a href="{{ path('documents') }}.html"><i class="fa fa-file-text-o"></i> Mes documents<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                </li>
                                            </ul>
                                        <li><a href="{{ path('code') }}"><i class="fa fa-credit-card"></i> Code | Paiement <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                </li>
                                            </ul>
                                </div>
                            </div>
                            <!-- /sidebar menu -->

                            <!-- /menu footer buttons -->

                            <!-- /menu footer buttons -->
                        </div>
                    </div>

                    <!-- top navigation -->
                    <div class="top_nav">
                        <div class="nav_menu">
                            <nav>
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="">{{ utilisateur.prenom }} {{ utilisateur.nom }}
                                            <span class=" fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            <li><a href="javascript:;"> Mon profil</a></li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="badge bg-red pull-right">50%</span>
                                                    <span>Réglages</span>
                                                </a>
                                            </li>
                                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se déconnecter</a></li>
                                        </ul>
                                    </li>

                                    <li role="presentation" class="dropdown">
                                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            {% if fos_message_nb_unread()>0 %}
                                                <span class="badge bg-green">{{ fos_message_nb_unread() }}</span>
                                            {% endif %}
                                        </a>
                                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                            <li>
                                                <a>
                                                    <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                                    <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                                    <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="text-center">
                                                    <a>
                                                        <strong>See All Alerts</strong>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /top navigation -->

                    <!-- page content -->
                    <div class="right_col" role="main">


                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="dashboard_graph">

                                    <div class="row x_title">
                                        <div class="col-md-6">
                                            <h3>Mes documents</h3>
                                        </div>
                                    </div>


                                    <div class="">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Factures</h2>
                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                    </li>

                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">

                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Date</th>
                                                        <th>Mission</th>
                                                        <th>Par</th>
                                                        <th>Prix</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for facture in factures %}
                                                    <tr>
                                                        <th scope="row">{{ facture.id }}</th>
                                                        <td>{{ facture.date|date("d/m/y") }}</td>
                                                        <td>{{ facture.reponseannonce.annonce.titre }}</td>
                                                        <td>{{ facture.reponseannonce.utilisateur1.nom }} {{ facture.reponseannonce.utilisateur1.prenom  }}</td>

                                                        <td>{{ facture.reponseannonce.prix }} €</td>
                                                        <td> &nbsp &nbsp  <a href="{{ asset('bundles/admin/img/img.jpg') }}" <i class="fa fa-download"></i></a>  </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <div class="dashboard_graph">



                                    <div class="">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Bulletin de paie</h2>
                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                    </li>

                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">

                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Date</th>
                                                        <th>Mission</th>
                                                        <th>Pour</th>
                                                        <th>Prix</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for bulletin in bulletins %}
                                                        <tr>
                                                            <th scope="row">{{ bulletin.id }}</th>
                                                            <td>{{ bulletin.date|date("d/m/y") }}</td>
                                                            <td>{{ bulletin.reponseannonce.annonce.titre }}</td>
                                                            <td>{{ bulletin.reponseannonce.utilisateur.nom }} {{ bulletin.reponseannonce.utilisateur.prenom  }}</td>

                                                            <td>{{ bulletin.reponseannonce.prix }} €</td>
                                                            <td> &nbsp &nbsp  <a href="{{ asset('bundles/admin/img/img.jpg') }}" <i class="fa fa-download"></i></a>  </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->

                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            HopJob974 - All rights reserved
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    {% endfor %}
                    <!-- /footer content -->
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="../../../vendor/espaceAdmin/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="../../../vendor/espaceAdmin/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="../../../vendor/espaceAdmin/js/custom.min.js"></script>
        {% endblock %}
    </body>
</html>