<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}HopJob974{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/admin/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('bundles/admin/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{ asset('bundles/admin/css/custom.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/bars-movie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/sweetalert.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset('bundles/admin/js/sweetalert.min.js') }}"></script>

</head>
<body class="nav-md">
{% block body %}
    {% for utilisateur in utilisateurs %}

        <div class="container body">
        <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('admin') }}" class="site_title"><i class="fa fa-home"></i> <span><img height="55px" src="{{ asset('bundles/admin/img/logo.png') }}"></span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Bienvenue,</span>
                        <h2>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h2>
                    </div>
                </div>
                <br>
                <!-- /menu profile quick info -->
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i> Tableau de bord <span class="fa fa-chevron-down"></span></a>
                            </li>
                            <li><a href="{{ path('messagerie') }}"><i class="fa fa-envelope-o"></i> Messagerie <span class="fa fa-chevron-down"></span></a>
                            </li>
                            <li><a href="{{ path('documents') }}"><i class="fa fa-file-text-o"></i> Mes documents<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    </li>
                                </ul>
                            <li><a href="{{ path('code') }}"><i class="fa fa-credit-card"></i> Code | Paiement <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    </li>
                                </ul>
                            <li class="active"><a href="{{ path('avis') }}"><i class="fa fa-star-o"></i> Avis <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    </li>
                                </ul>
                    </div>
                </div>

                {% if (js is defined) %}{{ js|raw }}{% endif %}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->

                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="">{{ utilisateur.prenom }} {{ utilisateur.nom }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Mon profil</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Réglages</span>
                                    </a>
                                </li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se déconnecter</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                {% if nbUnRead != 0 %}
                                    <span class="badge bg-green">{{ nbUnRead }}</span>
                                {% endif %}
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="{{ asset('bundles/admin/img/img.jpg') }}" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">

                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3>Vous pouvez laisser un avis</h3>
                            </div>
                        </div>




                            {% if (reponseAnnonce) %}


                            <div style="float: none;" class="col-lg-11 col-md-11 col-sm-14 col-xs-15 bhoechie-tab-container">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active text-center">
                                            <h4 class="glyphicon glyphicon-thumbs-up"></h4><br/>Sérieux
                                        </a>
                                        <a href="#" class="list-group-item text-center">
                                            <h4 class="glyphicon glyphicon-screenshot"></h4><br/>Compétences
                                        </a>
                                        <a href="#" class="list-group-item text-center">
                                            <h4 class="glyphicon glyphicon-hourglass"></h4><br/>Ponctualité
                                        </a>
                                        <a href="#" class="list-group-item text-center">
                                            <h4 class="glyphicon glyphicon-user"></h4><br/>Feeling
                                        </a>
                                        <a href="#" class="list-group-item text-center">
                                            <h4 class="glyphicon glyphicon-ok"></h4><br/>Recommandation
                                        </a>
                                        <a href="#" class="list-group-item text-center">
                                            <h4 class="glyphicon glyphicon-pencil"></h4><br/>Commentaire
                                        </a>
                                    </div>
                                </div>
                                <form method="post">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                                    <!-- flight section -->
                                    <div class="bhoechie-tab-content active">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-thumbs-up" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">L'intervenant a-t-il été sérieux ?</h2>

                                            <div class="styled-select slate">
                                            <select name ="1" id="1">
                                                <option value="100">-- Choisir --</option>
                                                <option value="1">Pas du tout</option>
                                                <option value="2">Moyennement</option>
                                                <option value="3">Sérieux</option>
                                                <option value="4">Très sérieux</option>
                                            </select>
                                            </div>


                                        </center>
                                    </div>
                                    <!-- train section -->
                                    <div class="bhoechie-tab-content">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-screenshot" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">Que pensez vous de la compétence de l'intervenant ?</h2>
                                            <div class="styled-select slate">
                                            <select name ="2" id="2">
                                                <option value="101">-- Choisir --</option>
                                                <option value="5">Pas bonne</option>
                                                <option value="6">Moyen</option>
                                                <option value="7">Bonne</option>
                                                <option value="8">Excellente</option>
                                            </select>
                                            </div>
                                        </center>
                                    </div>

                                    <!-- hotel search -->
                                    <div class="bhoechie-tab-content">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-hourglass" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">L'intervenant a-t-il été ponctuel ?</h2>
                                            <div class="styled-select slate">
                                            <select name ="3" id="3">
                                                <option value="102">-- Choisir --</option>
                                                <option value="9">Non</option>
                                                <option value="10">Oui</option>
                                            </select>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="bhoechie-tab-content">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-user" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">Qu'avez vous pensé de votre intervenant ?</h2>
                                            <div class="styled-select slate">
                                            <select name ="4" id="4">
                                                <option value="103">-- Choisir --</option>
                                                <option value="11">Pas agréable</option>
                                                <option value="12">Peu agréable</option>
                                                <option value="13">Plutôt sympathique</option>
                                                <option value="14">Irréprochable</option>
                                            </select>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="bhoechie-tab-content">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-ok" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">Recommanderiez-vous cet intervenant à d'autres clients ?</h2>
                                            <div class="styled-select slate">
                                            <select name ="5" id="5">
                                                <option value="104">-- Choisir --</option>
                                                <option value="15">Oui</option>
                                                <option value="16">Non</option>
                                            </select>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="bhoechie-tab-content">
                                        <center>
                                            <br><br>
                                            <h1 class="glyphicon glyphicon-pencil" style="font-size:6em;color:#1A9EE0"></h1>
                                            <h2 style="margin-top: 0;color:#2A3F54">Laisser un commentaire</h2>
                                            <textarea style="height:200px; width:330px;" name="commentaire" ></textarea>
                                        </center>
                                    </div>
                                </div>
                        <input type="submit" value="Envoyer" class="btn btn-info btn-lg btn-block">


                            </div>
                        </form>

                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                HopJob974 - All rights reserved
            </div>
            <div class="clearfix"></div>
        </footer>
    {% endfor %}
    <!-- /footer content -->
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/admin/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/sweetalert.min.js') }}"></script>
{% endblock %}
</body>
</html>

