{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
    	 			<div class="pull-left">
                    <h2>{{ annonce.titre }}</h2>
                    </div>
                    <div class="pull-right">
                   	<div style="background-image: url({{ asset('bundles/front/img/homepage/1.jpg') }})"></div>
                    <p>{{ annonce.user.nom}}</p>
                    </div>
                    <div class="clearfix"></div>
                    <p>{{ annonce.description }}</p>
                    <p><strong>Prix: </strong> {{ annonce.prixTotal }} €</p>
                    <p><span class="glyphicon glyphicon-user"></span> Personnes nécessaires : {{ annonce.nbPersonnes }}</p>
                    {% if annonce.vehicule == 1 %}
                    <p><i class="fa fa-car"></i> {{ annonce.typeVehicule.libelle }}</p>
                    {% endif %}
                    {% if annonce.dateFixe == 1 %}
                    <p><span class="glyphicon glyphicon-calendar"></span> A réaliser avant le : {{ annonce.dateLimite | date('d-m-Y') }}</p>
                    {% endif %}
					<p><span class="glyphicon glyphicon-time"></span> Horaire : {{ annonce.horaire.libelle }}</p>				
					<p><span class="glyphicon glyphicon-map-marker"></span> {{ annonce.ville.libelle }}</p>
          {% if reponseWithValidation is empty %}
          <p><span class="glyphicon glyphicon-flag"></span> En cours</p>
          {% endif %}
          {% if reponseWithValidation is not empty %}
          <p><span class="glyphicon glyphicon-flag"></span> Validée</p>
          {% endif %}
					{% if annonce.user.id != user.id and reponseWithValidation is empty %}
          <button type="button" class="btn btn-info btn-lg" name ="proposer" data-toggle="modal" value="{{annonce.id}}" data-target="#myModal">Proposer mes services</button>
          {% endif %}
          {% if annonce.user.id == user.id %}
            <a href="{{ path('modif_annonce', {'id': annonce.id }) }}">Modifier mon annonce</a>
          {% endif %}
          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Proposer ses services</h4>
                </div>
                <div class="modal-body">
                  <div class="row centered-form">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form  method="POST" role="form">
                <div class="row">
                    <div class="form-group col-md-3">
                      Prix : <input type="number" name="prix"  min="0" id="prix" class="form-control" placeholder="Prix">
                    </div>
                    <div class="form-group col-md-6">
                      Commentaire : 
                      <input type="textarea" width="70%" name="commentaire" id="commentaire" class="form-control" placeholder="Votre commentaire...">
                    </div>
                </div>
                <input type="submit" name="Envoyer" value="Envoyer" class="btn btn-info btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
                </div>
              </div>
            </div>
          </div>
           			<div class="clearfix"></div>
                </div>    

		</div>
	</div>
</div>
<div class="container">
  <div class="row">
      <h2 class="page-header">Réponses</h2>
	{% for reponse in reponse_annonce %}
<form method ="POST">
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                <figcaption class="text-center">{{ reponse.utilisateur1 }}</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><strong>Prix: </strong> {{ reponse.prix }}€</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ reponse.dateReponse | date('d-m-Y')  }}</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{ reponse.commentaire }}
                    </p>
                  </div>
                  {% if reponse.validation == 1 %}
                    <b>Validée</b>
                  {% endif %}
                  <input type="hidden" value="{{reponse.id}}" name="id_reponse">
                  {% if annonce.user.id == user.id and reponseWithValidation is empty%}
                    {% if reponse.validation == 0 %}
                    <input type="submit" name="reponseok" class="btn btn-xs ">
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </article>
        </section>		
      </form>
	{% endfor %}
</div>
{% endblock %}